<%- include('../../partials/header.ejs') %> 
<%- include('../../partials/navbar.ejs') %> 

<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <br>
            <h2>Edição</h2>
            <br>
        </div>
        
        <div class="card-body">
            <form method="POST" action="/articles/update">
                <input name="id" type="hidden" value="<%= article.id %>">
                <input class="form-control" type="text" name="title" placeholder="Edite o titulo do artigo" value="<%= article.title %> " > <br>
                <input class="form-control" type="text" name="author" value="<%= article.author %> "> <br>
                <textarea class="form-control" name="body" id="article" rows="21" ></textarea>
                <label>Categoria</label>
                <select name="category" class="form-control">
                    <% categories.forEach((category) =>{ %>
                        
                        <% if (category.id == article.categoryId) { %>
                            <option value="<%= category.id %> " selected><%= category.title %> </option>
                        <% } else {%>
                            <option value="<%= category.id %> " ><%= category.title %> </option>
                        <% } %>
                    <% }) %>
                </select>
                <br>
                <button class="btn btn-success">Publicar Artigo</button>
            </form>
        </div>
    </div>
</div>

<div id="content" style="display: none;">
    <%- article.body %> 
</div>

<%- include('../../partials/footer.ejs') %> 

<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: "#article",
        plugins: [
            'code autolink link image lists advlist checklist print preview hr searchreplace wordcount fullscream insertdatetime media code save table paste emoticons'
        ],
        toolbar: 'undo redo | styleselect | bold italic | aligncenter alignright alignjustify alignleft | link image | code',
        init_instance_callback: () =>{
            tinymce.get("article").setContent("<%- article.body %> ") //por alguma razão assim funciona -> froma anterior setContent($("#content").html()) 
        }
        
    })
</script>